@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

        * {
            padding: 0;
            margin: 0;
            font-family: 'Questrial', sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .navbar {
            height: 80px;
            width: 100%;
            /* background-color:red; */
            display: flex;
        }

        .left {
            flex: 1;
            /* background-color:yellow; */
            display: flex;
            align-items: center;
            justify-content: center;
        }



        .right {
            flex: 1;
            /* background-color:blue; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .center {
            flex: 1;
            /* background-color:orange; */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

        }

        .center p {
            text-transform: capitalize;
        }

        .signupbtn {
            padding: 10px 25px;
            background-color: teal;
            color: white;
            border: none;

        }

        .imageContainer {
            height: 35vh;
            width: 90%;
            margin: auto;
            margin-top: 30px;
            background-image: url('/images/brd.png');
            background-size: cover;
            background-position: center;

        }

        .serviceContainer {
            margin: auto;
            height: 40vh;
            width: 70%;
            margin-top: 100px;
            display: flex;
            flex-direction: column;

        }

        .serviceContainer h1 {
            text-align: center;

        }

        .serviceContainer .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

        }

        .serviceContainer .wrapper {
            display: flex;
            height: 80%;
            width: 90%;
            margin: auto;
            gap: 10px;
            justify-content: center;
            align-self: center;
        }

        .wrapper .tech {
            flex: 1;
            background-color: rgba(158, 201, 187, 0.564);
            border-radius: 5%;
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: start;
            box-sizing: border-box;
            margin-top: 6px;
            column-gap: 10px;
            border: 1px solid lightgray;
        }

        .wrapper .tech h1 {
            margin-bottom: 10px;

        }

        .wrapper .tech p {
            margin-top: 10px;
            margin-left: 20px;
        }

        .wrapper .certificate {
            flex: 1;
            border-radius: 5%;
            margin-top: 6px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: start;
            box-sizing: border-box;
            column-gap: 10px;
            border: 1px solid lightgray;


        }

        .wrapper .certificate h1 {

            margin-bottom: 10px;


        }

        .wrapper .certificate p {
            margin-top: 10px;
            margin-left: 20px;
            letter-spacing: 1px;
            line-height: 0.5cm;

        }

        .wrapper .quality {
            flex: 1;
            background-color: rgb(239, 239, 239);
            border-radius: 5%;
            display: flex;

            flex-direction: column;
            align-items: center;
            text-align: start;
            box-sizing: border-box;
            gap: 10px;
            border: 1px solid lightgray;

        }

        .wrapper .quality .h1 {
            margin-bottom: 10px;


        }

        .wrapper .quality p {
            margin-top: 10px;
            margin-left: 20px;
            letter-spacing: 1px;
            line-height: 0.5cm;


        }

        .main {
            background-color: #F0FAF7;
            height: 50vh;
            width: 80%;
            display: flex;
            margin: auto;
            margin-top: 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

        }

        .main .box {
            text-align: center;


        }

        .main .btnimg {
            border-radius: 50%;
            height: 30vh;
            width: 20%;
            margin-top: 30px;
            background: rgb(151, 92, 92);
            align-content: center;
            background-image: url(/images/main.jpeg);
            background-size: cover;
            background-position: center;
        }

        .box2 {
            height: 40vh;
            width: 80%;
            background: white;
            display: flex;
            margin: auto;
            margin-top: 20vh;
            justify-content: center;


        }

        .box2 .img {
            flex: 1;
            background-color: rgb(246, 243, 243);
            background-image: url(/images/newOne.png);
            background-size: cover;
            background-position: center;
            gap: 10px;

        }

        .box2 .para {
            flex: 1;
            margin-top: 20px;
            display: flex;
            text-align: center;
            flex-direction: column;




        }

        .box2 .para h1 {
            margin-bottom: 5px;
            text-align: start;
            margin-left: 30px;

        }

        .box2 .para p {
            margin-top: 10px;
            text-align: start;
            margin-left: 30px;
            letter-spacing: 1px;
            line-height: 0.5cm;
        }