@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-style: normal;

}

.navbar {
  height: 80%;
  width: 100%;
  display: flex;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;

}

.center p {
  text-transform: capitalize;
  font-size: 20px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

}

.right button {
  padding: 10px 25px;
  margin-bottom: 30px;
  background-color: teal;
  border: none;
  color: white;
}

.container {
  height: 75vh;
  width: 100%;
  display: flex;
  margin-top: 40px;
}

.container .login-ctn {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container .login-ctn .lg-input {
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
}

.img-ctn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.img-ctn .img {
  width: 65%;
  height: 80%;
  background-image: url(/images/bglogin.png);
  background-position: center;
  background-size: cover;
}


.container .login {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#err-username ,#err-email ,#err-password,#error{
  width: 60%;
  margin: auto;
  font-size: 14px;
  color:red;
  margin-top: 3px;
}

.lg-input h1 {
  font-size: 36px;

}

.login-title {
  margin-bottom: 20px;
  text-align: center;
  color: teal;

}

.form-cnt {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form-cnt input {
  padding: 10px;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  border: 1px dotted teal;
  color: black;
  margin-top: 20px;
}

.form-cnt .login-btn {
  padding: 10px;
  width: 66%;
  margin: auto;
  background-color: teal;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}
