<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSite</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="left">
            <h1>Intellectaa</h1>
        </div>

        <div class="center">
            <p>Home</p>
            <p>about</p>
            <p>teach us</p>
            <p>master</p>
        </div>

        <div class="right">
            <a href="/login">
            

            <% if(user){%>
                <button class="signupbtn" id="logout-btn">logout</button>
           <% } else{%>
            <button class="signupbtn" >signup</button>
           <%}%>
            </a>
        </div>
    </nav>

    <div class="imageContainer"></div>
    <div class="serviceContainer">
        <div class="info">
            <h1>Our services</h1>
            <p>Lorem ipsum dolor sit amet consectetur adip</p>
        </div>
        <div class="wrapper">
            <div class="tech">
                <h1>tech support</h1>
                <p>We provide 24/7 technical support to ensure smooth learning experience for all our students.</p>
            </div>
            <div class="certificate">
                <h1>certified course</h1>
                <p>Complete our courses and receive internationally recognized certifications to boost your career.</p>
            </div>
            <div class="quality">
                <h1>Quality content</h1>
                <p>Our courses are designed by industry experts to provide you with the most relevant and up-to-date
                    knowledge.</p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="box">
            <h1>welcome to my page</h1>
        </div>
        <div class="btnimg">
        </div>
    </div>
    <div class="box2">
        <div class="img"></div>
        <div class="para">
            <h1>Happy to see you here!!</h1>
            <p> Teachers and teacher assistants can talk with students privately without leaving the Zoom environment.
                Teachers and teacher assistants can talk with students privately without leaving the Zoom environment.
            </p>
        </div>

    </div>

    <style>
        
    </style>
</body>
<script src="js/home.js"></script>

</html>