<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <nav class="navbar">
        <div class="left">
            <h1>Intellectaa</h1>
        </div>
        <div class="center">
            <p>Home</p>
            <p>about</p>
            <p>Courses</p>
            <p>teach us</p>
            <p>blogs</p>
        </div>

        <div class="right">
            <button class="signupbtn">login</button>
        </div>
    </nav>

    <div class="container">
        <div class="img-ctn">
            <div class="img">

            </div>
        </div>
        <div class="login-ctn">
            <div class="login">
                <h1 class="login-title">login</h1>
                <span id="error"></span>
                
                
                <form action="" class="form-cnt">
                    
                    <input type="text" placeholder="email" id="email">
                    <span id="err-email"> </span> 
                    <input type="text" placeholder="password" id="password">
                    <span id="err-password"></span>
                    <button class="login-btn" id="login-btn">signup</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="js/login.js"></script>

</html>
   