<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
    <link rel="stylesheet" href="css/signup.css">
</head>

<body>
    <nav class="navbar">
        <div class="left">
            <h1>Intellectaa</h1>
        </div>
        <div class="center">
            <p>Home</p>
            <p>about</p>
            <p>Courses</p>
            <p>teach us</p>
            <p>blogs</p>
        </div>

        <div class="right">
            <button class="signupbtn">signup</button>
        </div>
    </nav>

    <div class="container">
        <div class="img-ctn">
            <div class="img">

            </div>
        </div>
        <div class="login-ctn">
            <div class="signup">
                <h1 class="signup-title">Signup</h1>


                <form action="" class="form-cnt">
                    <input type="text" id="username" placeholder="username">
                    <span id="err-username"> </span>
                    <input type="text" placeholder="email" id="email">
                    <span id="err-email"> </span>
                    <input type="text" placeholder="password" id="password">
                    <span id="err-password"></span>
                    <button class="signup-btn" id="signup-btn">signup</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="js/signup.js"></script>

</html>